NAUTOBOT_CREATE_SUPERUSER=true
NAUTOBOT_DB_PASSWORD={{ nautobot_db_password }}
NAUTOBOT_NAPALM_USERNAME='{{ nautobot_napalm_user }}'
NAUTOBOT_NAPALM_PASSWORD='{{ nautobot_napalm_password }}'
NAUTOBOT_REDIS_PASSWORD={{ nautobot_redis_password }}
NAUTOBOT_SECRET_KEY={{ nautobot_secret_key }}
NAUTOBOT_SUPERUSER_NAME={{ nautobot_superuser_name }}
NAUTOBOT_SUPERuser_EMAIL={{ nautobot_superuser_email }}
NAUTOBOT_SUPERUSER_PASSWORD={{ nautobot_superuser_password }}
NAUTOBOT_SUPERUSER_API_TOKEN={{ nautobot_superuser_api_token }}

NAUTOBOT_CACHEOPS_REDIS=redis://:{{ nautobot_redis_password }}@redis:6379/1

POSTGRES_PASSWORD={{ nautobot_db_password }}
PGPASSWORD={{ nautobot_db_password }}

MYSQL_PASSWORD={{ nautobot_db_password }}
MYSQL_ROOT_PASSWORD={{ nautobot_db_password }}
